.cancel-btnn{
    font-weight: 500;
    border: 1px solid black;
    background: white;
    color: var(--Is-black);
    padding: 9px 20px;
    display: inline-block;
    border-radius: 10px;
    min-width: 150px;
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
  }
  .save-btnn{
    font-weight: 500;
    border: 1px solid black;
    background: black;
    color: var(--Is-white);
    padding: 9px 20px;
    display: inline-block;
    border-radius: 10px;
    min-width: 150px;
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
  }
  .save-btnn:hover{
    background-color: white;
    color: black;
  }
  .loader_stance{
    z-index: 9999 !important;
  }